<html xmlns="http://www.w3.org/1999/xhtml">
<div class="panel panel-primary">
	<div class="panel-heading" style="background-image:url(/css/images/bj.gif);">
		<h3 class="panel-title" align="center">★★★网站支付页面★★★</h3>
	</div>
	
<p style="text-align:center;">
<span style="color:#BA55D3;"><strong>
这里是预留信息，可自由去修改<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>支付快速通道</title>
  
	 <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-primary" >
	<div class="panel-heading">
          <h3 class="panel-title"><div align="center">支付快速通道</div></h3>
    </div>
    <div style="margin:0% 5% 5% 5%;">
	<div class="login-top"></div><br>	<br>
<form action="pay.php" method="post" target="_blank">
	<div class="input-group">
  <span class="input-group-addon">充值账号</span>
  <input type="text" class="form-control" name="a1" placeholder="填写注册时的账号或者备注">
</div><br>
<div class="input-group">
  <span class="input-group-addon"  >充值金额</span>
  <input type="text" class="form-control" name="cny" placeholder="填写转账金额，如100">
</div>
	<br>
   <li class="product">
                        <span >支付方式</span>
                        <span >
                            <input type="radio" checked="checked" name="a3" value="1" /><label for="a2"><img src="images/alipay_logo.gif" /></label>
                            <input type="radio" name="a3" value="2" class="dxk" /><label for="a2"><img src="images/tenpay_logo.gif" /></label>
                       </span>
      </li><br>
	  <button type="submit" class="btn btn-primary" style="width:100%;float:left;">提交订单</button>
  <br>
</form></div>
</div>
</div>
</body>
</html>
</body>
</html>